---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<div>
			<h1>Hello from Astro</h1>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding-top: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	@media (prefers-color-scheme: dark) {
		.logo.light-mode-only {
			display: none;
		}
	}

	@media (prefers-color-scheme: light) {
		.logo.dark-mode-only {
			display: none;
		}
	}
</style>
